<mat-card style="width: 70%; margin: 50px auto;">
  
    <mat-card-header>
      <mat-card-title><p>Lista Socios</p></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <input type="text" placeholder="Buscar socio..." matInput [matAutocomplete]="auto" (input)="onBuscarSocio($event)">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displaySocio" (optionSelected)="editar($event.option.value)">
        <mat-option *ngFor="let socio of listaSocios" [value]="socio">
          {{ socio.CardCode }} - {{ socio.CardName }}
        </mat-option>
      </mat-autocomplete>

      <!-- <button mat-flat-button color="primary"></button> -->
 
      <table *ngIf="mostrarLista" mat-table [dataSource]="listaSocios" class="mat-elevation-z2" style="margin-top: 20px;">
  
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="CardCode">
            <th mat-header-cell *matHeaderCellDef> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.CardCode}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="CardName">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.CardName}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="Cedula">
            <th mat-header-cell *matHeaderCellDef> Cédula </th>
            <td mat-cell *matCellDef="let element"> {{element.Cedula}} </td>
          </ng-container>
  
          <ng-container matColumnDef="FederalTaxID">
            <th mat-header-cell *matHeaderCellDef> FederalTaxID </th>
            <td mat-cell *matCellDef="let element"> {{element.FederalTaxID}} </td>
          </ng-container>
  
          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="editar(element)">
                <mat-icon>editar</mat-icon>
              </button>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
  
    </mat-card-content>
  </mat-card>